<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week1 Level1</title>
    <link rel="icon" type="image/png" href="https://v3.vuejs.org/logo.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="my-3">
          <button
            type="button"
            class="btn btn-outline-primary"
            @click="changeImg"
          >
            切換大頭貼解析度
          </button>
          現在圖片解析度：
          <span v-if="imgType === 1">有點模糊</span>
          <span v-else-if="imgType === 2">模糊</span>
          <span v-else>超模糊</span>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3" v-for="person in results">
            <div class="card h-100">
              <div class="position-absolute" style="top: 20px; right: 20px">
                <button
                  type="button"
                  class="btn btn-outline-danger rounded-pill"
                >
                  <i class="bi bi-heart fs-5"></i>
                </button>
              </div>
              <img
                v-if="imgType === 1"
                :src="person.picture.large"
                class="card-img-top"
              />
              <img
                v-else-if="imgType === 2"
                :src="person.picture.medium"
                class="card-img-top"
              />
              <img
                v-else
                :src="person.picture.thumbnail"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">
                  {{ person.name.title }} {{ person.name.first }} {{
                  person.name.last }}(
                  <span v-if="person.gender === 'male'">👨</span>
                  <span v-else>👩</span> )
                </h5>
                <p class="card-text">
                  Email：<a :href="`mailto:${person.email}`">
                    {{person.email}}
                  </a>
                </p>
                <p class="card-text">
                  Phone: <a :href="`tel:${person.phone}`">{{ person.phone }}</a>
                </p>
                <p class="card-text">
                  Cell: <a :href="`tel:${person.cell}`">{{ person.cell }}</a>
                </p>
                <p class="card-text">City: {{ person.location.city }}</p>
                <p class="card-text">State: {{ person.location.state }}</p>
                <p class="card-text">Country: {{ person.location.country }}</p>
                <p class="card-text">
                  Postcode: {{ person.location.postcode }}
                </p>
                <p>
                  Address：<a
                    :href="`https://www.google.com.tw/maps/search/${person.location.city}${person.location.state}`"
                    target="_blank"
                    >{{ person.location.city }} {{ person.location.state }} {{
                    person.location.country }} {{ person.location.postcode }}</a
                  >
                </p>
                <p class="card-text">
                  description: {{ person.location.timezone.description }}
                </p>
                <p class="card-text">
                  <small class="text-muted">dob：{{ person.dob.date }}</small>
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >registered：{{ person.registered.date }}</small
                  >
                </p>
                <iframe
                  width="100%"
                  height="300"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  :src="`https://maps.google.com.tw/maps?f=q&amp;hl=zh-TW&amp;geocode=&amp;q=${person.location.coordinates.latitude},${person.location.coordinates.longitude}&amp;z=10&amp;output=embed`"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="data.js"></script>
    <script>
      console.log(results);
      Vue.createApp({
        data() {
          return {
            results,
            imgType: 1,
          };
        },
        methods: {
          changeImg() {
            this.imgType++;
            this.imgType = this.imgType > 3 ? this.imgType - 3 : this.imgType;
          },
        },
        mounted() {},
      }).mount('#app');
    </script>
  </body>
</html>
